.promo:hover .promo__button_prev,
.promo:hover .promo__button_next {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.promo__item {
  height: 480px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.promo__button_next, .promo__button_prev {
  top: 50%;
  z-index: 20;
  font-size: 0;
  line-height: 0;
  width: 82px;
  height: 82px;
  outline: none;
  cursor: pointer;
  padding-top: 17px;
  text-align: center;
  margin-top: -41px;
  position: absolute;
  display: inline-block;
  background: rgba(181, 183, 193, 0.43);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.promo__button_next i, .promo__button_prev i {
  width: 26px;
  height: 48px;
  display: inline-block;
}
.promo__button_next .ico-svg, .promo__button_prev .ico-svg {
  fill: #fff;
}
.promo__button_next:hover, .promo__button_prev:hover {
  fill: #25325f;
}
.promo__button_next {
  right: 15px;
}
.promo__button_prev {
  left: 15px;
}
.brand {
  padding-top: 20px;
  padding-bottom: 30px;
}
.brand__item {
  margin: 0 auto;
  padding: 0 5px;
  max-width: 185px;
}
.brand__item img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.brand__item:hover img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.about {
  font-size: 1.8rem;
  line-height: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.about__lead {
  color: #304476;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.about p {
  margin: 0;
}
.about__info {
  margin: 0;
  list-style: none;
  padding: 15px 0 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.about__info_image {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.about__info_image i {
  display: inline-block;
}
.about__info_text {
  display: block;
  padding-top: 7px;
}
.about__info li {
  width: 50%;
  color: #767676;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.about__text {
  margin-bottom: 30px;
}
.about__text_wrap {
  overflow: hidden;
  position: relative;
}
.about__text_wrap:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 120px;
  position: absolute;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00FFFFFF", endColorstr="#FFFFFFFF", GradientType=0);
}
@media (min-width: 567px) {
  .about__info li {
    width: 33.33%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .about__info li:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
}
@media (min-width: 768px) {
  .about__info {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .about__info li {
    width: 20%;
  }
  .about__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .about__text {
    margin-bottom: 0;
    padding-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .about__text_wrap {
    height: 239px;
  }
  .about__image {
    width: 360px;
    padding-top: 10px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 992px) {
  .about__text_wrap {
    height: 319px;
  }
  .about__image {
    width: 486px;
  }
}

.bnr {
  text-align: center;
  overflow: hidden;
  position: relative;
  background: url("../img/bnr__bg.jpg") 50% repeat-x;
}
.bnr__image {
  top: 0;
  left: 40%;
  z-index: 1;
  width: 720px;
  opacity: 0.5;
  position: absolute;
}
.bnr .container {
  z-index: 10;
  position: relative;
}
.bnr__row {
  height: 215px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.bnr__col {
  margin: auto 0;
  display: block;
}
.bnr__text {
  color: #223970;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 15px 10px;
  text-align: center;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.65);
}
.bnr__text span {
  z-index: 10;
  position: relative;
  display: inline-block;
}
@media (min-width: 768px) {
  .bnr {
    text-align: left;
  }
  .bnr__image {
    opacity: 1;
  }
  .bnr__text {
    font-size: 24px;
    line-height: 30px;
    padding: 30px 10px 30px 0;
    background: transparent;
  }
  .bnr__text:before {
    top: 0;
    bottom: 0;
    content: "";
    right: -20px;
    left: -2000px;
    position: absolute;
    display: inline-block;
    background: rgba(255, 255, 255, 0.65);
    -webkit-transform: skewX(30deg) skewY(0);
    -ms-transform: skewX(30deg) skewY(0);
    -o-transform: skewX(30deg) skewY(0);
    transform: skewX(30deg) skewY(0);
  }
}
@media (min-width: 992px) {
  .bnr__image {
    left: auto;
    right: 0;
  }
  .bnr__text {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 1260px) {
  .bnr__text {
    font-size: 40px;
    line-height: 50px;
    padding: 22px 10px;
  }
}
@media (min-width: 1400px) {
  .bnr__text {
    font-size: 40px;
    line-height: 50px;
    padding: 22px 10px 22px 0;
  }
}

.videos {
  padding-top: 25px;
  padding-bottom: 15px;
}
.videos__wrap {
  margin: 0 -15px;
}
.videos__row {
  margin: -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.videos__col {
  width: 100%;
  padding: 5px;
}
.videos__thumb {
  width: 50%;
  padding: 5px;
  display: block;
}
.videos__item {
  color: #e3e6ed;
  display: block;
  font-size: 1.4rem;
  line-height: 1.6rem;
  position: relative;
  text-decoration: none;
}
.videos__item:hover {
  color: #fff;
  text-decoration: none;
}
.videos__item:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.46);
}
.videos__item:after {
  top: 50%;
  left: 50%;
  z-index: 10;
  content: "";
  width: 44px;
  height: 32px;
  display: block;
  position: absolute;
  margin: -16px 0 0 -22px;
  background: url("../img/icon__play_youtube.png") 50% 50% no-repeat;
  background-size: cover;
}
.videos__item span {
  top: 10px;
  left: 10px;
  z-index: 20;
  display: block;
  max-width: 200px;
  position: absolute;
}
@media (min-width: 768px) {
  .videos__col {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .videos__wrap {
    margin-left: -30px;
    margin-right: -15px;
  }
  .videos__item {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .videos__item:after {
    width: 74px;
    height: 53px;
    margin: -26px 0 0 -37px;
  }
}
.comments {
  padding-top: 15px;
  padding-bottom: 15px;
}
.comments__item {
  color: #999999;
  font-size: 1.4rem;
  line-height: 1.6rem;
  position: relative;
}
.comments__wrap {
  top: 0px;
  left: 10px;
  right: 10px;
  bottom: 0px;
  overflow: hidden;
  position: absolute;
}
.comments__wrap_first {
  padding-left: 5px;
}
.comments__date {
  color: #15ac8d;
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin-bottom: 5px;
}
.comments__name {
  color: #666666;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .comments__wrap_first {
    padding-left: 20px;
  }
}
@media (min-width: 1260px) {
  .comments__item {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .comments__date {
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin-bottom: 5px;
  }
  .comments__name {
    color: #666666;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
}

/*# sourceMappingURL=homepage.css.map */
