/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1260px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1400px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 767.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1259.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1260px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1260px) and (max-width: 1399.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1400px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  list-style: none;
  line-height: 2rem;
  font-size: 1.4rem;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  color: #696969;
  display: inline-block;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.breadcrumb > li:last-child:after {
  display: none;
}
.breadcrumb > li > a {
  color: #696969;
  text-decoration: none;
}
.breadcrumb > li > a:hover {
  color: #696969;
  text-decoration: underline;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 8px 18px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #3bcaac;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.btn:hover {
  color: #fff;
  background: #223970;
}
.btn:active {
  background: #3bcaac;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_border_green {
  color: #2e396b;
  font-size: 1.8rem;
  padding: 7px 18px;
  background: transparent;
  border: 1px solid #15ac8d;
}
.btn_border_green:hover {
  color: #fff;
  background: #15ac8d;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.color_green {
  color: #15ac8d !important;
}

.color_gray {
  color: #3f3f3f !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #6e6e6e;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.8rem;
  line-height: 1.222;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 15px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: auto;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1145px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  color: #0a2360;
  font-weight: 500;
  font-size: 3.6rem;
  margin-bottom: 10px;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}

h2, .h2 {
  color: #223970;
  font-weight: 500;
  line-height: 4rem;
  font-size: 3.6rem;
  margin-bottom: 15px;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}
h2 sup, .h2 sup {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #6e6e6e;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #6e6e6e;
  text-decoration: none;
}

.header {
  z-index: 800;
  display: none;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.24);
}
.header.fix_top {
  top: -92px;
  left: 0;
  right: 0;
  position: fixed;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header__container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__bottom {
  height: 44px;
  background: #f2f5f7;
}
.header__location {
  height: 48px;
  color: #36427a;
  font-size: 1.6rem;
  line-height: 2rem;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header__location i {
  width: 18px;
  height: 24px;
  margin-right: 12px;
  display: inline-block;
}
.header__location span {
  display: inline-block;
}
.header__location .ico-svg {
  fill: #000;
}
.header__location:hover {
  color: #15ac8d;
  text-decoration: none;
}
.header__location:hover .ico-svg {
  fill: #15ac8d;
}
.header__info {
  font-size: 0;
  line-height: 0;
  height: 48px;
  padding-top: 4px;
  text-align: right;
  padding-right: 60px;
  background: url("../img/icon__header_phone.svg") 100% 50% no-repeat;
}
.header__phones {
  color: #545454;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
}
.header__phones span {
  margin-right: 5px;
}
.header__phones a {
  color: #545454;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  text-decoration: none;
}
.header__phones a:hover {
  color: #545454;
  text-decoration: none;
}
.header__worktime {
  color: #a1a1a1;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-left: 18px;
  display: inline-block;
  background: url("../img/icon__header_worktime.svg") 0 50% no-repeat;
}
.header__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__nav li a {
  color: #545454;
  padding: 12px 0;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}
.header__nav li a:hover {
  color: #15ac8d;
  text-decoration: none;
}
.header__menu {
  width: 235px;
  margin-right: 15px;
  margin-left: 30px;
  position: relative;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__account {
  color: #fff;
  width: 100%;
  height: 44px;
  z-index: 20;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.header__account i {
  z-index: 5;
  width: 19px;
  height: 22px;
  position: relative;
  margin-right: 10px;
  display: inline-block;
}
.header__account .ico-svg {
  fill: #0a2360;
}
.header__account span {
  z-index: 5;
  display: inline-block;
}
.header__account:before {
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  width: 100%;
  height: 44px;
  display: block;
  position: absolute;
  background: #15ac8d;
  -webkit-transform: skewX(30deg) skewY(0);
  -ms-transform: skewX(30deg) skewY(0);
  -o-transform: skewX(30deg) skewY(0);
  transform: skewX(30deg) skewY(0);
}
.header__account:hover {
  color: #fff;
  text-decoration: none;
}
.header__links {
  left: 30px;
  right: -50px;
  top: 100%;
  z-index: 10;
  height: 60px;
  padding-left: 20px;
  position: absolute;
}
.header__links:before {
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  width: 100%;
  height: 60px;
  display: block;
  position: absolute;
  background: #f5f5f4;
  -webkit-transform: skewX(30deg) skewY(0);
  -ms-transform: skewX(30deg) skewY(0);
  -o-transform: skewX(30deg) skewY(0);
  transform: skewX(30deg) skewY(0);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.24);
}
.header__links_wrap {
  z-index: 10;
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header__links_cart {
  width: 42px;
  height: 44px;
  display: block;
  padding-top: 11px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #15ac8d;
  text-decoration: none;
  font-family: "Uni Sans", Arial, sans-serif;
  background: url("../img/icon__header_cart.png") 50% 50% no-repeat;
}
.header__links_cart:hover {
  color: #15ac8d;
  text-decoration: none;
}
.header__links_favorites {
  width: 36px;
  height: 44px;
  display: block;
  padding-top: 11px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #15ac8d;
  margin-right: 10px;
  text-decoration: none;
  font-family: "Uni Sans", Arial, sans-serif;
  background: url("../img/icon__favorites.svg") 50% 50% no-repeat;
}
.header__links_favorites:hover {
  color: #15ac8d;
  text-decoration: none;
}
.header__links_bookmark {
  width: 34px;
  height: 44px;
  display: block;
  padding-top: 11px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #15ac8d;
  margin-right: 15px;
  padding-right: 5px;
  text-decoration: none;
  font-family: "Uni Sans", Arial, sans-serif;
  background: url("../img/icon__bookmark.svg") 50% 100% no-repeat;
}
.header__links_bookmark:hover {
  color: #15ac8d;
  text-decoration: none;
}
.header__links_compare {
  width: 39px;
  height: 44px;
  display: block;
  padding-top: 11px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  margin-right: 15px;
  color: #15ac8d;
  text-decoration: none;
  font-family: "Uni Sans", Arial, sans-serif;
  background: url("../img/icon__comparison.png") 50% 50% no-repeat;
}
.header__links_compare:hover {
  color: #15ac8d;
  text-decoration: none;
}
@media (min-width: 992px) {
  .header {
    display: block;
  }
}
@media (min-width: 1400px) {
  .header__nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .header__nav li {
    margin-right: 60px;
  }
  .header__nav li:last-child {
    margin-right: 0;
  }
}

.header_mobile__container {
  height: 50px;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header_mobile__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header_mobile__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header_mobile__logo {
  display: block;
  height: 50px;
  width: 140px;
}
.header_mobile__toggle {
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 0;
  padding-top: 6px;
  display: inline-block;
  margin-right: 40px;
}
.header_mobile__toggle span {
  width: 100%;
  height: 3px;
  background: #19255b;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header_mobile__toggle span:last-child {
  margin-bottom: 0;
}
.header_mobile__cart {
  width: 42px;
  height: 42px;
  display: block;
  padding-top: 11px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #15ac8d;
  text-decoration: none;
  font-family: "Uni Sans", Arial, sans-serif;
  background: url("../img/icon__header_cart.png") 50% 50% no-repeat;
}
.header_mobile__cart:hover {
  color: #15ac8d;
  text-decoration: none;
}
.header_mobile__phone {
  width: 42px;
  height: 42px;
  padding: 9px 0;
  display: block;
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  color: #19255b;
  margin-right: 8px;
  text-decoration: none;
  font-family: "Uni Sans", Arial, sans-serif;
}
.header_mobile__phone:hover {
  color: #19255b;
  text-decoration: none;
}
.header_mobile__phone span {
  display: none;
}
@media (min-width: 768px) {
  .header_mobile__toggle {
    margin-right: 165px;
  }
  .header_mobile__phone {
    width: auto;
    padding: 9px 10px;
    font-size: 1.8rem;
    white-space: nowrap;
  }
  .header_mobile__phone i {
    display: none;
  }
  .header_mobile__phone span {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .header_mobile {
    display: none;
  }
}

.sidebar {
  z-index: 1200;
  display: none;
}
.sidebar__logo {
  display: none;
}
.sidebar__logo_sm {
  display: block;
}
@media (min-width: 992px) {
  .sidebar {
    top: 0;
    left: 0;
    width: 66px;
    height: 100vh;
    display: block;
    position: fixed;
    background: #fff;
  }
}
@media (min-width: 1400px) {
  .sidebar {
    width: 313px;
  }
  .sidebar__logo {
    width: 310px;
    margin: 0 auto;
    display: block;
  }
  .sidebar__logo_sm {
    display: none;
  }
}

.sidenav {
  width: 100%;
  height: 100vh;
  position: relative;
}
.sidenav__wrap {
  width: 100%;
  z-index: 200;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
}
.sidenav__heading {
  display: block;
  background: #19255b;
}
.sidenav__primary {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
}
.sidenav__primary > li {
  position: relative;
}
.sidenav__primary > li.item_01 i {
  width: 40px;
  height: 26px;
}
.sidenav__primary > li.item_02 i {
  width: 39px;
  height: 25px;
}
.sidenav__primary > li.item_03 i {
  width: 37px;
  height: 41px;
}
.sidenav__primary > li.item_04 i {
  width: 35px;
  height: 35px;
}
.sidenav__primary > li.item_05 i {
  width: 31px;
  height: 33px;
}
.sidenav__primary > li.item_06 i {
  width: 38px;
  height: 37px;
}
.sidenav__primary > li.item_07 i {
  width: 41px;
  height: 20px;
}
.sidenav__primary > li.item_08 i {
  width: 24px;
  height: 40px;
}
.sidenav__primary > li.item_09 i {
  width: 38px;
  height: 40px;
}
.sidenav__primary > li.item_10 i {
  width: 35px;
  height: 36px;
}
.sidenav__primary > li.item_11 i {
  width: 39px;
  height: 18px;
}
.sidenav__primary > li.item_12 i {
  width: 30px;
  height: 30px;
}
.sidenav__primary > li.item_13 i {
  width: 30px;
  height: 31px;
}
.sidenav__primary > li.item_14 i {
  width: 28px;
  height: 32px;
}
.sidenav__primary > li.item_15 i {
  width: 27px;
  height: 27px;
}
.sidenav__primary_item {
  width: 100%;
  color: #545454;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.sidenav__primary_item .ico-svg {
  fill: #000;
}
.sidenav__primary_item:hover {
  color: #545454;
  background: #e1ebff;
  text-decoration: none;
}
.sidenav__primary_item:hover .ico-svg {
  fill: #19255b;
}
.sidenav__primary_icon {
  width: 66px;
  height: 54px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.sidenav__primary_icon i {
  margin: auto;
}
.sidenav__primary_text {
  display: none;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidenav__primary_link {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.sidenav__primary_dropdown {
  position: relative;
}
.sidenav__primary_dropdown:before {
  top: 50%;
  right: 13px;
  width: 11px;
  height: 19px;
  content: "";
  margin-top: -9px;
  position: absolute;
  background: url("../img/icon__angle_right.svg") 0 0 no-repeat;
  opacity: 0;
  visibility: hidden;
}
.sidenav__primary_dropdown.active {
  background: #e1ebff;
}
.sidenav__primary_dropdown.active + .sidenav__primary_link {
  opacity: 1;
  visibility: visible;
}
.sidenav__primary_green {
  background: #eef3ff;
}
.sidenav__primary_green .ico-svg {
  fill: #3bcaac;
}
.sidenav__second {
  top: 0;
  left: 66px;
  z-index: 100;
  width: 536px;
  height: 100vh;
  position: absolute;
  background: #f7f3da;
  margin-left: -560px;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidenav__second.active {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidenav__second_wrap {
  height: 100vh;
  padding: 15px 30px 15px 30px;
}
.sidenav__second_close {
  top: 24px;
  right: 28px;
  width: 24px;
  height: 24px;
  z-index: 100;
  display: block;
  cursor: pointer;
  position: absolute;
}
.sidenav__second_close:after, .sidenav__second_close:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  margin: -2px 0 0 -12px;
  background: #15ac8d;
}
.sidenav__second_close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sidenav__second_close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sidenav__second_heading {
  color: #0a2360;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 4rem;
  margin-right: 30px;
  margin-bottom: 30px;
}
.sidenav__second_heading span {
  color: #15ac8d;
}
.sidenav__second ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.sidenav__second ul li {
  width: 155px;
  margin-bottom: 10px;
}
.sidenav__second ul li a {
  color: #19255b;
  display: block;
  text-decoration: none;
}
.sidenav__second ul li a:hover {
  color: #15ac8d;
  text-decoration: none;
}
.sidenav__second ul li a:hover .sidenav__second_image {
  border-color: #15ac8d;
}
.sidenav__second_name {
  width: 100%;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  text-overflow: ellipsis;
}
.sidenav__second_image {
  border: 2px solid transparent;
}
.sidenav__search {
  background: #f3f3f3;
}
.sidenav__search_icon {
  width: 66px;
  height: 48px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.sidenav__search_icon i {
  width: 25px;
  height: 25px;
  margin: auto;
}
.sidenav__search_toggle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
}
.sidenav__search_slide {
  top: 0;
  left: 66px;
  z-index: 105;
  position: fixed;
  width: 300px;
  height: 48px;
  background: #f3f3f3;
  margin-left: -330px;
  padding-left: 10px;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidenav__search_slide.open {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidenav__search_form {
  display: none;
}
.sidenav__search_input {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  display: block;
  color: #6a6a6a;
  padding: 14px 5px;
  font-size: 1.6rem;
  line-height: 2rem;
  background: transparent;
}
.sidenav__search_input::-moz-placeholder {
  color: #6a6a6a;
  opacity: 1;
}
.sidenav__search_input:-ms-input-placeholder {
  color: #6a6a6a;
}
.sidenav__search_input::-webkit-input-placeholder {
  color: #6a6a6a;
}
.sidenav__search_input:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.sidenav__search_input:focus:-ms-input-placeholder {
  color: transparent;
}
.sidenav__search_input:focus::-webkit-input-placeholder {
  color: transparent;
}
@media (min-width: 1400px) {
  .sidenav__primary_dropdown:hover {
    padding-right: 30px;
  }
  .sidenav__primary_dropdown:hover:before {
    opacity: 1;
    visibility: visible;
  }
  .sidenav__primary_dropdown.active {
    padding-right: 30px;
  }
  .sidenav__primary_dropdown.active:before {
    opacity: 1;
    visibility: visible;
  }
  .sidenav__primary_text {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .sidenav__second {
    top: 92px;
    left: 313px;
    height: calc(100vh - 92px);
  }
  .sidenav__search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .sidenav__search_toggle {
    display: none;
  }
  .sidenav__search_slide {
    display: none;
  }
  .sidenav__search_form {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.mCSB_inside > .mCSB_container {
  margin-right: 0 !important;
}

.mCSB_scrollTools {
  width: 4px;
}

.location {
  top: 0;
  left: 0;
  width: 313px;
  height: 100vh;
  z-index: 1300;
  position: fixed;
  background: #fff;
  margin-left: -100%;
  padding: 0 10px 10px 10px;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.location.open {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.location__layout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1250;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
}
.location__layout.open {
  display: block;
}
.location__close {
  top: 10px;
  right: -40px;
  width: 24px;
  height: 24px;
  z-index: 100;
  display: block;
  cursor: pointer;
  position: absolute;
}
.location__close:after, .location__close:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background: #fff;
  position: absolute;
  margin: -2px 0 0 -12px;
}
.location__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.location__close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.location__title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 5px;
}
.location__form {
  position: relative;
  margin-bottom: 15px;
}
.location__form:before {
  top: 50%;
  left: 10px;
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  margin-top: -7px;
  position: absolute;
  background: url("../img/icon__search.svg") 50% 50% no-repeat;
  background-size: cover;
}
.location__input {
  margin: 0;
  width: 100%;
  z-index: 10;
  outline: none;
  height: 46px;
  color: #545454;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 11px 30px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #afafaf;
}
.location__input::-moz-placeholder {
  color: #737373;
  opacity: 1;
}
.location__input:-ms-input-placeholder {
  color: #737373;
}
.location__input::-webkit-input-placeholder {
  color: #737373;
}
.location__input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.location__input:focus, .location__input:active {
  outline: none;
}
.location__input:focus::-moz-placeholder, .location__input:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.location__input:focus:-ms-input-placeholder, .location__input:active:-ms-input-placeholder {
  color: transparent;
}
.location__input:focus::-webkit-input-placeholder, .location__input:active::-webkit-input-placeholder {
  color: transparent;
}
.location__current {
  color: #535353;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 15px;
}
.location__current span {
  color: #15ac8d;
}
.location__text {
  color: #868686;
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 10px;
}

.nav_mobile {
  top: 0;
  left: 0;
  width: 313px;
  height: 100vh;
  z-index: 1200;
  position: fixed;
  background: #fff;
  margin-left: -400px;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav_mobile__layout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1150;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
}
.nav_mobile__layout.open {
  display: block;
}
.nav_mobile.open {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav_mobile__close {
  top: 10px;
  right: -40px;
  width: 24px;
  height: 24px;
  z-index: 100;
  display: block;
  cursor: pointer;
  position: absolute;
}
.nav_mobile__close:after, .nav_mobile__close:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background: #fff;
  position: absolute;
  margin: -2px 0 0 -12px;
}
.nav_mobile__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav_mobile__close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav_mobile__scroll {
  height: 100vh;
  overflow-y: auto;
}
.nav_mobile__content {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.nav_mobile__content > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav_mobile__content > ul > li > a {
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
}
.nav_mobile__content > ul > li > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav_mobile__content > ul > li > ul > li > a {
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
}
.nav_mobile__content .back {
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
  padding: 18px 0 0 10px;
}
.nav_mobile .slinky-theme-default {
  background: #fff;
}
@media (min-width: 992px) {
  .nav_mobile {
    display: none;
  }
}

.footer__top {
  color: #fff;
  padding: 15px 0;
  background: #19245a;
}
.footer__container {
  padding: 0 15px;
}
.footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.6rem;
  line-height: 2rem;
}
.footer__menu li a {
  color: #fff;
  padding: 5px 0;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}
.footer__info {
  font-size: 0;
  line-height: 0;
  padding-top: 4px;
}
.footer__info_phones {
  margin: 0;
  padding: 0;
  color: #f4f4f4;
  list-style: none;
  font-size: 1.6rem;
  line-height: 2rem;
}
.footer__info_phones li {
  padding: 3px 0;
}
.footer__info_phones li a {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  text-decoration: none;
}
.footer__info_phones li a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__info_worktime {
  color: #a1a1a1;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-left: 18px;
  display: inline-block;
  background: url("../img/icon__header_worktime.svg") 0 50% no-repeat;
}
.footer__nav {
  padding: 15px 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  background: #485764;
}
.footer__nav_title a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}
.footer__nav_title a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.footer__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__nav ul li a {
  color: #a5b2bd;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-decoration: none;
}
.footer__nav ul li a:hover {
  color: #a5b2bd;
  text-decoration: underline;
}
.footer__nav_block {
  margin-bottom: 15px;
}
.footer__bottom {
  padding-top: 10px;
  background: #485764;
  padding-bottom: 40px;
}
.footer__logo {
  width: 279px;
  display: block;
  margin-bottom: 30px;
}
.footer__contact {
  margin-bottom: 20px;
  color: #8697a7;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-bottom: 10px;
}
.footer__contact p {
  margin: 0;
}
.footer__contact a {
  color: #8697a7;
  text-decoration: none;
}
.footer__contact a:hover {
  color: #8697a7;
  text-decoration: none;
}
.footer__dev {
  width: 152px;
  display: block;
}
@media (min-width: 576px) {
  .footer__nav_row {
    margin: 0 -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__nav_col {
    width: 50%;
    padding: 0 10px;
  }
}
@media (min-width: 768px) {
  .footer__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__info {
    text-align: right;
    padding-right: 60px;
    background: url("../img/icon__header_phone.svg") 100% 50% no-repeat;
  }
  .footer__info_phones {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .footer__info_phones li {
    padding: 0;
    margin-left: 10px;
  }
  .footer__nav_col {
    width: 25%;
    padding: 0 10px;
  }
  .footer__nav_block:last-child {
    margin-bottom: 0;
  }
  .footer__bottom_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
  }
  .footer__bottom_row:before, .footer__bottom_row:after {
    content: " ";
    display: table;
  }
  .footer__bottom_row:after {
    clear: both;
  }
  .footer__logo {
    margin-bottom: 0;
  }
  .footer__dev {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .footer__contact {
    margin-bottom: 0;
    padding-left: 40px;
    margin-right: 40px;
  }
}
@media (min-width: 992px) {
  .footer__container {
    padding-right: 15px;
    padding-left: 30px;
  }
  .footer__top {
    padding: 0;
  }
  .footer__top_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__menu {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .footer__menu li a {
    padding: 23px 0;
  }
  .footer__info {
    text-align: right;
    padding-right: 50px;
    margin-left: 50px;
    background-position: 100% 5px;
  }
  .footer__info_phones {
    display: block;
  }
  .footer__info_phones li {
    padding: 0;
    margin-left: 0;
  }
  .footer__bottom {
    -webkit-flex-wrap: no-wrap;
    -moz-flex-wrap: no-wrap;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
  }
  .footer__contact {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 1260px) {
  .footer__menu {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .footer__menu li {
    margin-right: 50px;
  }
  .footer__menu li:last-child {
    margin-right: 0;
  }
  .footer__nav_row {
    margin: 0 -10px 0 -30px;
  }
  .footer__nav_col {
    padding: 0 10px 0 30px;
    border-right: 1px solid #5c6b78;
  }
  .footer__nav_col:last-child {
    border-right: none;
  }
}

.layout {
  overflow: hidden;
  position: relative;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  .page {
    padding-left: 66px;
  }
}
@media (min-width: 1400px) {
  .page {
    padding-left: 313px;
  }
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.showcase {
  z-index: 100;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
.showcase__nav {
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0 -10px 30px -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.showcase__nav li {
  padding: 0 10px;
}
.showcase__nav li a {
  padding: 10px;
  color: #515151;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
}
.showcase__nav li.active a {
  color: #fff;
  background: #15ac8d;
}
.showcase__nav li.active a:before {
  top: 100%;
  left: 50%;
  content: "";
  margin-left: -14px;
  position: absolute;
  border: 14px solid transparent;
  border-top: 14px solid #15ac8d;
}
.showcase__wrap {
  margin: 0 -15px;
  position: relative;
}
.showcase__slider {
  overflow: visible !important;
}
.showcase__slider_wrap {
  width: 100%;
  position: relative;
}
.showcase__slider_wrap:before {
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 10;
  width: 60px;
  position: absolute;
  background: url("../img/slider_shadow_right.png") 100% 0 repeat-y;
}
.showcase__slider_wrap:hover .showcase__wrap {
  z-index: 20;
}
.showcase .tabs_item {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  display: block;
  position: absolute;
  visibility: hidden;
}
.showcase .tabs_item_start {
  position: relative;
}
.showcase .tabs_item.active {
  opacity: 1;
  z-index: 10;
  visibility: visible;
}
@media (min-width: 768px) {
  .showcase__nav li a {
    padding: 8px 10px;
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
@media (min-width: 992px) {
  .showcase__wrap {
    margin: 0 -15px 0 -30px;
  }
}

.contacts {
  padding-top: 15px;
}
.contacts__wrap {
  z-index: 20;
  margin: 0 -15px;
  position: relative;
}
.contacts .container {
  position: relative;
}
.contacts__info {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 25px 20px;
  background: #19255b;
}
.contacts__info_name {
  color: #70edd2;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 2px 0 2px 24px;
  text-transform: uppercase;
  background: url("../img/icon__address.svg") 0 0 no-repeat;
}
.contacts__info_address {
  padding-left: 24px;
}
.contacts__info_worktime {
  padding-left: 24px;
  background: url("../img/icon__clock.svg") 0 2px no-repeat;
}
.contacts__info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts__info ul li {
  margin-bottom: 55px;
}
.contacts__info ul li:last-child {
  margin-bottom: 0;
}
.contacts__map {
  height: 445px;
}
.contacts .ymaps-2-1-73-balloon__content p {
  margin: 0;
}
@media (min-width: 992px) {
  .contacts__wrap {
    margin: 0;
  }
  .contacts__info {
    top: 0;
    left: 30px;
    width: 384px;
    height: 445px;
    position: absolute;
    background: rgba(25, 37, 91, 0.8);
  }
}

.goods {
  z-index: 1;
  width: 262px;
  height: 360px;
  position: relative;
}
.goods:hover {
  z-index: 20;
}
.goods:hover .goods__wrap {
  -webkit-box-shadow: 1px 1px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 18px 0px rgba(0, 0, 0, 0.2);
}
.goods:hover .goods__hide {
  display: block;
}
.goods:hover .goods__action {
  opacity: 1;
  visibility: visible;
}
.goods__wrap {
  left: 0;
  right: 0;
  background: #fff;
  position: absolute;
  padding: 30px 15px 5px 15px;
}
.goods__image {
  width: 150px;
  height: 185px;
  display: block;
  margin: 0 auto;
}
.goods__type {
  height: 32px;
  color: #999999;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  margin-bottom: 7px;
  text-overflow: ellipsis;
}
.goods__name {
  height: 36px;
  color: #515151;
  overflow: hidden;
  font-weight: 500;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
.goods__price {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.goods__price_old {
  color: #afafaf;
  font-size: 1.8rem;
  line-height: 2rem;
  text-decoration: line-through;
}
.goods__price_new {
  padding: 0 5px;
  color: #6d6d6d;
  font-size: 3rem;
  line-height: 3rem;
  display: inline-block;
}
.goods__price_discount {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #15ac8d;
  padding: 3px 0 3px 25px;
  background: url("../img/icon__discount.svg") 0 50% no-repeat;
}
.goods__logo {
  text-align: center;
  margin-bottom: 5px;
}
.goods__logo img {
  height: auto;
  max-width: 100%;
  display: inline-block;
}
.goods__hide {
  display: none;
  padding-top: 15px;
}
.goods__data {
  font-size: 0;
  line-height: 0;
  width: 215px;
  margin: 0 auto;
  color: #7f7f7f;
}
.goods__data ul {
  margin: 0 0 7px 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.goods__data ul li {
  line-height: 1rem;
  font-size: 1.6rem;
  white-space: nowrap;
}
.goods__data ul li:nth-child(1) {
  border-bottom: 1px dotted #7f7f7f;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.goods__data ul li:nth-child(1) span {
  background: #fff;
  padding: 1px 5px 1px 0;
  position: relative;
  display: inline-block;
  bottom: -2px;
}
.goods__data ul li:last-child {
  width: 35px;
  color: #323232;
  font-weight: 500;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.goods__sticky {
  left: 0;
  top: 50px;
  z-index: 10;
  position: absolute;
}
.goods__sticky_item {
  color: #fff;
  width: 89px;
  height: 34px;
  display: block;
  padding: 7px 3px;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.goods__sticky_blue {
  background: url("../img/goods__sticky_blue.svg") 100% 50% no-repeat;
}
.goods__sticky_green {
  background: url("../img/goods__sticky_green.svg") 100% 50% no-repeat;
}
.goods__sticky_yellow {
  background: url("../img/goods__sticky_yellow.svg") 100% 50% no-repeat;
}
.goods__action {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 30;
  visibility: hidden;
  position: absolute;
  padding: 5px 6px 0 6px;
}
.goods__action:before, .goods__action:after {
  content: " ";
  display: table;
}
.goods__action:after {
  clear: both;
}
.goods__action_item {
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 4px;
  display: block;
}
.goods__action_favorite {
  background: url("../img/icon__heart.svg") 50% 50% no-repeat;
}
.goods__action_compare {
  background: url("../img/icon__compare.png") 50% 50% no-repeat;
}
.goods__action_search {
  float: right;
  background: url("../img/icon__search.svg") 50% 50% no-repeat;
}
.goods .btn {
  margin-bottom: -28px;
}

.slider_arrow_prev,
.slider_arrow_next {
  top: 50%;
  z-index: 80;
  font-size: 0;
  line-height: 0;
  width: 16px;
  height: 28px;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-top: -14px;
  position: absolute;
  display: inline-block;
}
.slider_arrow_prev .ico-svg,
.slider_arrow_next .ico-svg {
  fill: #19255b;
}
.slider_arrow_prev:hover,
.slider_arrow_next:hover {
  fill: #15ac8d;
}

.slider_arrow_prev {
  left: 5px;
}

.slider_arrow_next {
  right: 5px;
}

.main {
  padding-top: 30px;
  padding-bottom: 60px;
}

.product_title {
  margin-bottom: 10px;
}

.product_subtitle {
  color: #999;
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 20px;
}

.review {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.review_slider {
  overflow: visible !important;
}
.review_slider .slider_arrow_prev {
  left: -20px;
}
.review__wrap {
  padding-left: 10px;
}
.review_elem {
  width: 240px;
  padding: 0 15px;
}
.review__item {
  width: 210px;
}
.review__name {
  font-size: 1.8rem;
  line-height: 2rem;
  padding-left: 35px;
  margin-bottom: 20px;
  background: url("../img/icon__author.svg") 0 50% no-repeat;
}
.review__name strong {
  display: block;
  color: #373737;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.review__name span {
  display: block;
  color: #acacac;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.review__text {
  height: 90px;
  color: #818181;
  font-size: 1.6rem;
  line-height: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.review__link {
  color: #15ac8d;
  text-decoration: none;
}
.review__link:hover {
  color: #6e6e6e;
  text-decoration: none;
}
@media (min-width: 992px) {
  .review__wrap {
    padding-left: 0;
    margin-left: -10px;
  }
  .review_slider .slider_arrow_prev {
    left: -15px;
  }
}

/*# sourceMappingURL=main.css.map */
