.product__row {
  margin-bottom: 20px;
}
.product__media {
  position: relative;
  margin-bottom: 17px;
}
.product__media_gallery {
  margin: 0 auto;
  max-width: 400px;
}
.product__media_gallery .swiper-pagination {
  top: auto;
  bottom: 0;
}
.product__media_gallery .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #3bcaac;
}
.product__media_image {
  display: block;
  margin: 0 auto 45px auto;
}
.product__media_thumbs {
  top: 80px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.product__media_container {
  width: 125px;
  padding: 30px 0;
  position: relative;
}
.product__media_thumb {
  display: block;
  padding: 5px 20px;
  position: relative;
  border: 1px solid #cccfdb;
}
.product__media_thumb:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #15ac8d;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.product__media_thumb.active:before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product__info {
  margin: 0 -15px;
  background: #edf3ff;
  position: relative;
}
.product__info:before {
  top: 0;
  bottom: 0;
  left: 100%;
  content: "";
  width: 3000px;
  display: block;
  position: absolute;
  background: #edf3ff;
}
.product__info_heading {
  padding: 15px 25px 12px 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.product__info_favorite {
  width: 26px;
  display: inline-block;
  margin-right: 12px;
}
.product__info_comparison {
  width: 29px;
  height: 28px;
  margin-right: 50px;
  display: inline-block;
}
.product__info_logo {
  display: inline-block;
}
.product__cost {
  position: relative;
  padding: 25px 5px 25px 100px;
  border-top: 1px solid #d9e0ec;
}
.product__cost:before {
  top: -1px;
  bottom: 0;
  left: 100%;
  height: 1px;
  content: "";
  width: 3000px;
  display: block;
  position: absolute;
  background: #d9e0ec;
}
.product__cost .btn {
  min-width: 180px;
  margin-left: 35px;
}
.product__price {
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.product__price_old {
  color: #afafaf;
  font-size: 1.8rem;
  line-height: 2rem;
  white-space: nowrap;
  text-decoration: line-through;
}
.product__price_new {
  padding: 0 7px;
  color: #6d6d6d;
  font-size: 4rem;
  line-height: 4rem;
  display: inline-block;
  white-space: nowrap;
}
.product__price_discount {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  white-space: nowrap;
  color: #15ac8d;
  padding: 3px 0 3px 25px;
  background: url("../img/icon__discount.svg") 0 50% no-repeat;
}
.product__meta {
  left: 0;
  top: 25px;
  position: absolute;
}
.product__meta_item {
  width: 90px;
  height: 34px;
  color: #fff;
  padding: 7px 5px;
  font-size: 1.8rem;
  line-height: 2rem;
  position: relative;
  text-transform: uppercase;
}
.product__meta_blue {
  background: url("../img/goods__sticky_blue.svg") 100% 50% no-repeat;
}
.product__meta_green {
  background: url("../img/goods__sticky_green.svg") 100% 50% no-repeat;
}
.product__meta_yellow {
  background: url("../img/goods__sticky_yellow.svg") 100% 50% no-repeat;
}
.product__availability {
  padding: 25px;
  color: #242424;
  font-size: 1.6rem;
  line-height: 1.85rem;
  position: relative;
  border-top: 1px solid #d9e0ec;
}
.product__availability:before {
  top: -1px;
  bottom: 0;
  left: 100%;
  height: 1px;
  content: "";
  width: 3000px;
  display: block;
  position: absolute;
  background: #d9e0ec;
}
.product__availability_title {
  color: #5e5d5d;
  margin-bottom: 10px;
}
.product__availability_title strong {
  color: #000;
}
.product__availability_point {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}
.product__availability a {
  color: #283671;
  text-decoration: none;
}
.product__availability a:hover {
  color: #283671;
  text-decoration: underline;
}
.product__availability a:hover .not_available {
  color: #8f8f8f;
}
.product__delivery {
  padding: 25px;
  font-size: 1.6rem;
  line-height: 1.8rem;
  position: relative;
  border-top: 1px solid #d9e0ec;
}
.product__delivery:before {
  top: -1px;
  bottom: 0;
  left: 100%;
  height: 1px;
  content: "";
  width: 3000px;
  display: block;
  position: absolute;
  background: #d9e0ec;
}
.product__delivery_calculation {
  color: #2fba9d;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  padding: 4px 0 4px 25px;
  background: url("../img/icon__calc.png") 0 50% no-repeat;
}
.product__delivery_calculation:hover {
  color: #2fba9d;
  text-decoration: none;
}
.product__delivery_calculation:hover span {
  text-decoration: underline;
}
.product__delivery_list {
  margin: 0;
  padding: 0;
  color: #959494;
  list-style: none;
}
.product__delivery_list li:first-child {
  margin-bottom: 5px;
}
.product__delivery_list li a {
  color: #2e396b;
  text-decoration: none;
}
.product__bottom {
  padding: 25px;
  position: relative;
  border-top: 1px solid #d9e0ec;
}
.product__bottom:before {
  top: -1px;
  bottom: 0;
  left: 100%;
  height: 1px;
  content: "";
  width: 3000px;
  display: block;
  position: absolute;
  background: #d9e0ec;
}
@media (min-width: 992px) {
  .product__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
  .product__media {
    width: 350px;
    margin: 0 90px 0 0;
  }
  .product__info {
    margin: 0;
    width: 390px;
  }
}
@media (min-width: 1260px) {
  .product__media {
    margin: 0;
    width: 745px;
    padding-top: 80px;
    padding-left: 160px;
  }
  .product__media_gallery {
    width: 312px;
    margin: 0 auto;
    padding-top: 30px;
  }
  .product__media_gallery .swiper-pagination {
    display: none;
  }
  .product__media_thumbs {
    opacity: 1;
    visibility: visible;
  }
}

.gallery_thumb {
  height: 385px;
}

.thumb_arrow_prev,
.thumb_arrow_next {
  left: 50%;
  z-index: 10;
  width: 29px;
  height: 16px;
  content: "";
  cursor: pointer;
  cursor: pointer;
  margin-left: -15px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__arrov_top.svg") 50% 50% no-repeat;
  background-size: cover;
}

.thumb_arrow_prev {
  top: 0;
}

.thumb_arrow_next {
  bottom: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.product_tabs {
  margin-bottom: 25px;
}
.product_tabs__nav {
  display: none;
}
@media (min-width: 992px) {
  .product_tabs__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .product_tabs__nav li {
    position: relative;
  }
  .product_tabs__nav li a {
    height: 56px;
    color: #3a3a3a;
    background: #e0e5eb;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    padding: 10px 40px 10px 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .product_tabs__nav li a:before {
    bottom: 0;
    content: "";
    right: -20px;
    height: 0;
    width: 10px;
    position: absolute;
    border-bottom: 56px solid #e0e5eb;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  .product_tabs__nav li a span {
    margin-left: 10px;
    display: inline-block;
  }
  .product_tabs__nav li a .ico-svg {
    fill: #3a3a3a;
  }
  .product_tabs__nav li a:hover {
    color: #15ac8d;
  }
  .product_tabs__nav li a:hover .ico-svg {
    fill: #15ac8d;
  }
  .product_tabs__nav li.active a {
    z-index: 10;
    background: #f3f4f6;
    color: #15ac8d;
  }
  .product_tabs__nav li.active a:after {
    left: 0;
    top: -12px;
    right: 5px;
    content: "";
    z-index: 10;
    height: 12px;
    display: block;
    position: absolute;
    background: #f3f4f6;
  }
  .product_tabs__nav li.active a:before {
    right: -16px;
    border-bottom: 68px solid #f3f4f6;
  }
  .product_tabs__nav li.active a .ico-svg {
    fill: #15ac8d;
  }
  .product_tabs__nav li:first-child:before {
    top: 0;
    bottom: 0;
    z-index: 1;
    content: "";
    width: 200px;
    margin-left: -200px;
    display: block;
    position: absolute;
    background: #e0e5eb;
  }
  .product_tabs__nav li:first-child.active:before {
    top: -12px;
    background: #f3f4f6;
  }
  .product_tabs__content {
    position: relative;
    background: #f3f4f6;
    padding-bottom: 20px;
  }
  .product_tabs__content:after, .product_tabs__content:before {
    top: 0;
    bottom: 0;
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    background: #f3f4f6;
  }
  .product_tabs__content:after {
    width: 200px;
    left: -200px;
  }
  .product_tabs__content:before {
    width: 2000px;
    left: 100%;
  }
  .product_tabs__item {
    display: none;
  }
  .product_tabs__item.active {
    display: block;
  }
}

.product_data {
  margin-bottom: 7px;
}
.product_data__heading {
  height: 56px;
  color: #22386f;
  cursor: pointer;
  padding: 5px 20px;
  background: #f3f4f6;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
  border: 1px solid #22386f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.product_data__heading .ico-svg {
  fill: #22386f;
}
.product_data__heading i {
  font-size: 2rem;
  line-height: 2rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product_data__content {
  padding-top: 10px;
  display: none;
}
.product_data__params {
  margin-bottom: 10px;
}
.product_data__hide {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.product_data__hide:before {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  content: "";
  height: 70px;
  position: absolute;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66FFFFFF", endColorstr="#CCFFFFFF", GradientType=0);
}
.product_data__hide.open {
  height: auto;
}
.product_data__hide.open:before {
  display: none;
}
.product_data__toggle {
  color: #3bcaac;
  font-size: 1.6rem;
  line-height: 2.2rem;
  display: inline-block;
  text-decoration: none;
}
.product_data__toggle .close_flag {
  display: none;
}
.product_data__toggle.open .open_flag {
  display: none;
}
.product_data__toggle.open .close_flag {
  display: inline;
}
.product_data__toggle.open i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.product_data__toggle i {
  color: #a9a9a9;
  font-size: 2rem;
  margin-left: 8px;
  position: relative;
}
.product_data.active .product_data__heading {
  color: #15ac8d;
  border-color: #15ac8d;
}
.product_data.active .product_data__heading .ico-svg {
  fill: #15ac8d;
}
.product_data.active .product_data__heading i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product_data.active .product_data__content {
  display: block;
}
@media (min-width: 992px) {
  .product_data__heading {
    display: none;
  }
  .product_data__content {
    display: block;
  }
  .product_data__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .product_data__params {
    padding-top: 20px;
    padding-right: 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .product_data__hide {
    height: 180px;
  }
  .product_data__hide:before {
    background-image: -webkit-linear-gradient(top, rgba(243, 244, 246, 0.4) 0%, rgba(243, 244, 246, 0.8) 100%);
    background-image: -o-linear-gradient(top, rgba(243, 244, 246, 0.4) 0%, rgba(243, 244, 246, 0.8) 100%);
    background-image: linear-gradient(to bottom, rgba(243, 244, 246, 0.4) 0%, rgba(243, 244, 246, 0.8) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66F3F4F6", endColorstr="#CCF3F4F6", GradientType=0);
  }
  .product_data__video {
    width: 430px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.params_table {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.6rem;
  border-collapse: collapse;
}
.params_table td {
  padding: 3px 0 0 0;
  border: none;
  border-bottom: 1px dotted #727272;
}
.params_table td:first-child {
  color: #727272;
}
.params_table td:last-child {
  color: #494949;
  text-align: right;
}
.params_table td span {
  bottom: -1px;
  background: #fff;
  position: relative;
  display: inline-block;
}

.icon_cod {
  width: 19px;
  height: 19px;
  display: inline-block;
}

.icon_doc {
  width: 16px;
  height: 21px;
  display: inline-block;
}

/*# sourceMappingURL=product.css.map */
