.layout {
	overflow: hidden;
	position: relative;
}

.page {
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

	@media (min-width: $screen-md-min) {
		padding-left: 66px;
	}

	@media (min-width: $screen-xl-min) {
		padding-left: 313px;
	}
}

.main {
	@include flex-grow(1);
}


.showcase {
	z-index: 100;
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;

	&__nav {
		list-style: none;
		padding: 10px 0 0 0;
		margin: 0 -10px 30px -10px;
		@include flexbox();

		li {
			padding: 0 10px;

			a {
				padding: 10px;
				color: #515151;
				font-weight: 500;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
				position: relative;
				white-space: nowrap;
				text-decoration: none;
			}


			&.active {

				a {
					color: #fff;
					background: $color-green;

					&:before {
						top: 100%;
						left: 50%;
						content: '';
						margin-left: -14px;
						position: absolute;
						border: 14px solid transparent;
						border-top: 14px solid $color-green;
					}
				}
			}
		}
	}

	&__wrap {
		margin: 0 -15px;
		position: relative;
	}

	&__slider {
		overflow: visible !important;

		&_wrap {
			width: 100%;
			position: relative;

			&:before {
				top: 0;
				right: 0;
				bottom: 0;
				content: '';
				z-index: 10;
				width: 60px;
				position: absolute;
				background: url("../img/slider_shadow_right.png") 100% 0 repeat-y;
			}

			&:hover {

				.showcase__wrap {
					z-index: 20;
				}
			}
		}
	}

	.tabs_item {
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		z-index: 1;
		display: block;
		position: absolute;
		visibility: hidden;

		&_start {
			position: relative;
		}

		&.active {
			opacity: 1;
			z-index: 10;
			visibility: visible;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__nav {

			li {

				a {
					padding: 8px 10px;
					font-size: 2.4rem;
					line-height: 3rem;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			margin: 0 -15px 0 -30px;
		}
	}
}



.contacts {
	padding-top: 15px;


	&__wrap {
		z-index: 20;
		margin: 0 -15px;
		position: relative;
	}

	.container {
		position: relative;
	}

	&__info {
		color: #fff;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 25px 20px;
		background: rgba(25,37,91, 1);

		&_name {
			color: #70edd2;
			font-size: 1.6rem;
			line-height: 2rem;
			padding: 2px 0 2px 24px;
			text-transform: uppercase;
			background: url("../img/icon__address.svg") 0 0 no-repeat;
		}

		&_address {
			padding-left: 24px;
		}

		&_worktime {
			padding-left: 24px;
			background: url("../img/icon__clock.svg") 0 2px no-repeat;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 55px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__map {
		height: 445px;
	}

	.ymaps-2-1-73-balloon__content {

		p {
			margin: 0;
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			margin: 0;
		}

		&__info {
			top: 0;
			left: 30px;
			width: 384px;
			height: 445px;
			position: absolute;
			background: rgba(25,37,91, 0.8);
		}
	}
}

.goods {
	z-index: 1;
	width: 262px;
	height: 360px;
	position: relative;

	&:hover {
		z-index: 20;

		.goods__wrap {
			@include box-shadow(1px 1px 18px 0px rgba(0, 0, 0, 0.2));
		}

		.goods__hide {
			display: block;
		}

		.goods__action {
			opacity: 1;
			visibility: visible;
		}
	}

	&__wrap {
		left: 0;
		right: 0;
		background: #fff;
		position: absolute;
		padding: 30px 15px 5px 15px;
	}

	&__image {
		width: 150px;
		height: 185px;
		display: block;
		margin: 0 auto;
	}

	&__type {
		height: 32px;
		color: #999999;
		overflow: hidden;
		font-size: 1.6rem;
		line-height: 1.6rem;
		text-align: center;
		margin-bottom: 7px;
		text-overflow: ellipsis;
	}

	&__name {
		height: 36px;
		color: #515151;
		overflow: hidden;
		font-weight: 500;
		text-align: center;
		font-size: 1.8rem;
		line-height: 1.8rem;
		margin-bottom: 10px;
		text-overflow: ellipsis;
	}

	&__price {
		margin: 0 -10px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		&_old {
			color: #afafaf;
			font-size: 1.8rem;
			line-height: 2rem;
			text-decoration: line-through;
		}

		&_new {
			padding: 0 5px;
			color: #6d6d6d;
			font-size: 3rem;
			line-height: 3rem;
			display: inline-block;
		}

		&_discount {
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 2rem;
			color: $color-green;
			padding: 3px 0 3px 25px;
			background: url("../img/icon__discount.svg") 0 50% no-repeat;
		}
	}

	&__logo {
		text-align: center;
		margin-bottom: 5px;

		img {
			height: auto;
			max-width: 100%;
			display: inline-block;
		}
	}

	&__hide {
		display: none;
		padding-top: 15px;
	}

	&__data {
		font-size: 0;
		line-height: 0;
		width: 215px;
		margin: 0 auto;
		color: #7f7f7f;

		ul {
			margin: 0 0 7px 0;
			padding: 0;
			list-style: none;
			@include flexbox();

			li {
				line-height: 1.0rem;
				font-size: 1.6rem;
				white-space: nowrap;


				&:nth-child(1) {
					border-bottom: 1px dotted #7f7f7f;
					@include flex-grow(1);

					span {
						background: #fff;
						padding: 1px 5px 1px 0;
						position: relative;
						display: inline-block;
						bottom: -2px;
					}
				}

				&:last-child {
					width: 35px;
					color: #323232;
					font-weight: 500;
					@include flex-shrink(0);
				}
			}
		}
	}

	&__sticky {
		left: 0;
		top: 50px;
		z-index: 10;
		position: absolute;

		&_item {
			color: #fff;
			width: 89px;
			height: 34px;
			display: block;
			padding: 7px 3px;
			font-size: 1.8rem;
			line-height: 2rem;
			text-align: center;
			text-transform: uppercase;
		}

		&_blue {
			background: url("../img/goods__sticky_blue.svg") 100% 50% no-repeat;
		}

		&_green {
			background: url("../img/goods__sticky_green.svg") 100% 50% no-repeat;
		}

		&_yellow {
			background: url("../img/goods__sticky_yellow.svg") 100% 50% no-repeat;
		}
	}

	&__action {
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		z-index: 30;
		visibility: hidden;
		position: absolute;
		padding: 5px 6px 0 6px;
		@include clearfix();

		&_item {
			float: left;
			width: 32px;
			height: 32px;
			margin: 0 4px;
			display: block;
		}

		&_favorite {
			background: url("../img/icon__heart.svg") 50% 50% no-repeat;
		}

		&_compare {
			background: url("../img/icon__compare.png") 50% 50% no-repeat;
		}

		&_search {
			float: right;
			background: url("../img/icon__search.svg") 50% 50% no-repeat;
		}
	}

	.btn {
		margin-bottom: -28px;
	}
}

.slider_arrow_prev,
.slider_arrow_next {
	top: 50%;
	z-index: 80;
	font-size: 0;
	line-height: 0;
	width: 16px;
	height: 28px;
	outline: none;
	cursor: pointer;
	text-align: center;
	margin-top: -14px;
	position: absolute;
	display: inline-block;

	.ico-svg {
		fill: #19255b;
	}

	&:hover {
		fill: $color-green;
	}
}

.slider_arrow_prev {
	left: 5px;
}

.slider_arrow_next {
	right: 5px;
}


.main {
	padding-top: 30px;
	padding-bottom: 60px;
}

.product_title {
	margin-bottom: 10px;
}

.product_subtitle {
	color: #999;
	font-size: 2rem;
	line-height: 2.2rem;
	margin-bottom: 20px;
}


.review {
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;

	&_slider {
		overflow: visible !important;

		.slider_arrow_prev {
			left: -20px;
		}
	}

	&__wrap {
		padding-left: 10px;
	}

	&_elem {
		width: 240px;
		padding: 0 15px;
	}

	&__item {
		width: 210px;
	}

	&__name {
		font-size: 1.8rem;
		line-height: 2rem;
		padding-left: 35px;
		margin-bottom: 20px;
		background: url("../img/icon__author.svg") 0 50% no-repeat;

		strong {
			display: block;
			color: #373737;
			font-weight: 400;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		span {
			display: block;
			color: #acacac;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	&__text {
		height: 90px;
		color: #818181;
		font-size: 1.6rem;
		line-height: 1.8rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__link {
		color: $color-green;
		text-decoration: none;

		&:hover {
			color: $color-base;
			text-decoration: none;
		}
	}


	@media (min-width: $screen-md-min) {

		&__wrap {
			padding-left: 0;
			margin-left: -10px;
		}

		&_slider {

			.slider_arrow_prev {
				left: -15px;
			}
		}
	}
}
