.footer {

	&__top {
		color: #fff;
		padding: 15px 0;
		background: #19245a;
	}

	&__container {
		padding: 0 15px;
	}

	&__menu {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 1.6rem;
		line-height: 2rem;

		li {

			a {
				color: #fff;
				padding: 5px 0;
				font-weight: 500;
				display: inline-block;
				text-decoration: none;
			}
		}
	}

	&__info {
		font-size: 0;
		line-height: 0;
		padding-top: 4px;

		&_phones {
			margin: 0;
			padding: 0;
			color: #f4f4f4;
			list-style: none;
			font-size: 1.6rem;
			line-height: 2rem;

			li {
				padding: 3px 0;

				a {
					color: #fff;
					font-weight: 500;
					font-size: 1.8rem;
					line-height: 2rem;
					text-decoration: none;

					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}

		&_worktime {
			color: #a1a1a1;
			font-size: 1.2rem;
			line-height: 1.6rem;
			padding-left: 18px;
			display: inline-block;
			background: url("../img/icon__header_worktime.svg") 0 50% no-repeat;
		}
	}

	&__nav {
		padding: 15px 0;
		font-size: 1.4rem;
		line-height: 1.8rem;
		background: #485764;

		&_title {

			a {
				color: #ffffff;
				font-weight: 500;
				text-decoration: none;

				&:hover {
					color: #ffffff;
					text-decoration: underline;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {
					color: #a5b2bd;
					font-weight: 300;
					font-size: 1.4rem;
					line-height: 1.8rem;
					text-decoration: none;

					&:hover {
						color: #a5b2bd;
						text-decoration: underline;
					}
				}
			}
		}

		&_col {

		}

		&_block {
			margin-bottom: 15px;
		}

	}

	&__bottom {
		padding-top: 10px;
		background: #485764;
		padding-bottom: 40px;
	}

	&__logo {
		width: 279px;
		display: block;
		margin-bottom: 30px;
	}


	&__contact {
		margin-bottom: 20px;
		color: #8697a7;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2rem;
		padding-bottom: 10px;

		p {
			margin: 0;
		}

		a {
			color: #8697a7;
			text-decoration: none;

			&:hover {
				color: #8697a7;
				text-decoration: none;
			}
		}
	}

	&__dev {
		width: 152px;
		display: block;
	}

	@media (min-width: 576px) {

		&__nav {

			&_row {
				margin: 0 -10px;
				@include flexbox();
				@include flex-wrap(wrap);
			}

			&_col {
				width: 50%;
				padding: 0 10px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__menu {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__info {
			text-align: right;
			padding-right: 60px;
			background: url("../img/icon__header_phone.svg") 100% 50% no-repeat;

			&_phones {
				@include flexbox();
				@include justify-content(flex-end);

				li {
					padding: 0;
					margin-left: 10px;
				}
			}
		}

		&__nav {

			&_col {
				width: 25%;
				padding: 0 10px;
			}

			&_block {

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__bottom {

			&_row {
				@include flexbox();
				@include flex-wrap(wrap);
				@include clearfix();
				@include align-items(flex-end);

			}
		}

		&__logo {
			margin-bottom: 0;
		}

		&__dev {
			margin-bottom: 0;
			margin-top: 30px;
		}

		&__contact {
			margin-bottom: 0;
			padding-left: 40px;
			margin-right: 40px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__container {
			padding-right: 15px;
			padding-left: 30px;
		}

		&__top {
			padding: 0;

			&_row {
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);
			}
		}

		&__menu {
			@include flex-grow(1);

			li {

				a {
					padding: 23px 0;
				}
			}
		}

		&__info {
			text-align: right;
			padding-right: 50px;
			margin-left: 50px;
			background-position: 100% 5px;

			&_phones {
				display: block;

				li {
					padding: 0;
					margin-left: 0;
				}
			}
		}

		&__bottom {
			@include flex-wrap(no-wrap);
		}

		&__contact {
			@include flex-grow(1);
		}

	}

	@media (min-width: $screen-lg-min) {

		&__menu {
			@include justify-content(flex-start);

			li {
				margin-right: 50px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__nav {

			&_row {
				margin: 0 -10px 0 -30px;
			}

			&_col {
				padding: 0 10px 0 30px;
				border-right: 1px solid #5c6b78;

				&:last-child {
					border-right: none;
				}
			}

		}



		&__dev {
		//	float: right;
		}
	}
}

