.sidebar {
	z-index: 1200;
	display: none;

	&__logo {
		display: none;

		&_sm {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {
		top: 0;
		left: 0;
		width: 66px;
		height: 100vh;
		display: block;
		position: fixed;
		background: #fff;
	}

	@media (min-width: $screen-xl-min) {
		width: 313px;

		&__logo {
			width: 310px;
			margin: 0 auto;
			display: block;

			&_sm {
				display: none;
			}
		}
	}
}

.sidenav {
	width: 100%;
	height: 100vh;
	position: relative;

	&__wrap {
		width: 100%;
		z-index: 200;
		height: 100vh;
		background: #fff;
		overflow: hidden;
		position: relative;
		@include box-shadow(0px 1px 18px 0px rgba(0, 0, 0, 0.35));
	}

	&__heading {
		display: block;
		background: #19255b;
	}

	&__primary {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		> li {
			position: relative;

			&.item_01 {

				i {
					width: 40px;
					height: 26px;
				}
			}

			&.item_02 {

				i {
					width: 39px;
					height: 25px;
				}
			}

			&.item_03 {

				i {
					width: 37px;
					height: 41px;
				}
			}

			&.item_04 {

				i {
					width: 35px;
					height: 35px;
				}
			}

			&.item_05 {

				i {
					width: 31px;
					height: 33px;
				}
			}

			&.item_06 {

				i {
					width: 38px;
					height: 37px;
				}
			}

			&.item_07 {

				i {
					width: 41px;
					height: 20px;
				}
			}

			&.item_08 {

				i {
					width: 24px;
					height: 40px;
				}
			}

			&.item_09 {

				i {
					width: 38px;
					height: 40px;
				}
			}

			&.item_10 {

				i {
					width: 35px;
					height: 36px;
				}
			}

			&.item_11 {

				i {
					width: 39px;
					height: 18px;
				}
			}


			&.item_12 {

				i {
					width: 30px;
					height: 30px;
				}
			}

			&.item_13 {

				i {
					width: 30px;
					height: 31px;
				}
			}

			&.item_14 {

				i {
					width: 28px;
					height: 32px;
				}
			}

			&.item_15 {

				i {
					width: 27px;
					height: 27px;
				}
			}
		}

		&_item {
			width: 100%;
			color: #545454;
			cursor: pointer;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 2rem;
			position: relative;
			text-decoration: none;
			@include flexbox();
			@include align-items(center);

			.ico-svg {
				fill: #000;
			}

			&:hover {
				color: #545454;
				background: #e1ebff;
				text-decoration: none;

				.ico-svg {
					fill: #19255b;
				}
			}
		}

		&_icon {
			width: 66px;
			height: 54px;
			text-align: center;
			@include flexbox();
			@include align-items(center);
			@include flex-shrink(0);

			i {
				margin: auto;
			}
		}

		&_text {
			display: none;
			overflow: hidden;
			position: relative;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&_link {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			display: block;
			position: absolute;

			opacity: 0;
			visibility: hidden;
		}

		&_dropdown {
			position: relative;

			&:before {
				top: 50%;
				right: 13px;
				width: 11px;
				height: 19px;
				content: '';
				margin-top: -9px;
				position: absolute;
				background: url("../img/icon__angle_right.svg") 0 0 no-repeat;

				opacity: 0;
				visibility: hidden;
			}

			&.active {
				background: #e1ebff;

				+ .sidenav__primary_link {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&_green {
			background: #eef3ff;

			.ico-svg {
				fill: #3bcaac;
			}
		}
	}

	&__second {
		top: 0;
		left: 66px;
		z-index: 100;
		width: 536px;
		height: 100vh;
		position: absolute;
		background: #f7f3da;
		margin-left: -560px;
		@include box-shadow(0px 1px 18px 0px rgba(0, 0, 0, 0.35));
		@include transition(.3s);

		&.active {
			margin-left: 0;
			@include transition(.3s);
		}

		&_wrap {
			height: 100vh;
			padding: 15px 30px 15px 30px;
		}

		&_close {
			top: 24px;
			right: 28px;
			width: 24px;
			height: 24px;
			z-index: 100;
			display: block;
			cursor: pointer;
			position: absolute;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				width: 100%;
				height: 3px;
				display: block;
				position: absolute;
				margin: -2px 0 0 -12px;
				background: $color-green;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}

		&_heading {
			color: #0a2360;
			font-weight: 500;
			font-size: 3.6rem;
			line-height: 4rem;
			margin-right: 30px;
			margin-bottom: 30px;

			span {
				color: $color-green;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			li {
				width: 155px;
				margin-bottom: 10px;

				a {
					color: #19255b;
					display: block;
					text-decoration: none;

					&:hover {
						color: $color-green;
						text-decoration: none;

						.sidenav__second_image {
							border-color: $color-green;
						}
					}
				}
			}
		}

		&_name {
			width: 100%;
			overflow: hidden;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 2rem;
			text-overflow: ellipsis;
		}

		&_image {
			border: 2px solid transparent;
		}
	}

	&__search {
		background: #f3f3f3;

		&_icon {
			width: 66px;
			height: 48px;
			text-align: center;
			position: relative;
			@include flexbox();
			@include align-items(center);
			@include flex-shrink(0);

			i {
				width: 25px;
				height: 25px;
				margin: auto;
			}
		}

		&_toggle {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			position: absolute;
		}

		&_slide {
			top: 0;
			left: 66px;
			z-index: 105;
			position: fixed;
			width: 300px;
			height: 48px;
			background: #f3f3f3;
			margin-left: -330px;
			padding-left: 10px;
			@include box-shadow(0px 1px 18px 0px rgba(0, 0, 0, 0.35));
			@include transition(.3s);

			&.open {
				margin-left: 0;
				@include transition(.3s);
			}
		}

		&_form {
			display: none;
		}

		&_input {
			width: 100%;
			height: 48px;
			border: none;
			outline: none;
			display: block;
			color: #6a6a6a;
			padding: 14px 5px;
			font-size: 1.6rem;
			line-height: 2rem;
			background: transparent;
			@include placeholder(#6a6a6a);

			&:focus {
				@include placeholder(transparent);
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__heading {

		}

		&__primary {

			&_dropdown {

				&:hover {
					padding-right: 30px;

					&:before {
						opacity: 1;
						visibility: visible;
					}
				}

				&.active {
					padding-right: 30px;

					&:before {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			&_text {
		//		width: 247px;
				display: block;
				@include flex-grow(1);
			}
		}

		&__second {
			top: 92px;
			left: 313px;
			height: calc(100vh - 92px);
		}

		&__search {
			@include flexbox();

			&_toggle {
				display: none;
			}

			&_slide {
				display: none;
			}

			&_form {
				display: block;
				@include flex-grow(1);
			}
		}
	}
}


.mCSB_inside> .mCSB_container {
	margin-right: 0 !important;
}

.mCSB_scrollTools {
	width: 4px;
}

.location {
	top: 0;
	left: 0;
	width: 313px;
	height: 100vh;
	z-index: 1300;
	position: fixed;
	background: #fff;
	margin-left: -100%;
	padding: 0 10px 10px 10px;
	@include box-shadow(0px 1px 18px 0px rgba(0, 0, 0, 0.35));
	@include transition(.3s);

	&.open {
		margin-left: 0;
		@include transition(.3s);
	}

	&__layout {
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: none;
		z-index: 1250;
		position: fixed;
		background: rgba(0,0,0,0.7);

		&.open {
			display: block;
		}
	}

	&__close {
		top: 10px;
		right: -40px;
		width: 24px;
		height: 24px;
		z-index: 100;
		display: block;
		cursor: pointer;
		position: absolute;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 100%;
			height: 3px;
			display: block;
			background: #fff;
			position: absolute;
			margin: -2px 0 0 -12px;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__title {
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 3rem;
		margin-bottom: 5px;
	}

	&__form {
		position: relative;
		margin-bottom: 15px;

		&:before {
			top: 50%;
			left: 10px;
			content: '';
			width: 14px;
			height: 14px;
			display: block;
			margin-top: -7px;
			position: absolute;
			background: url("../img/icon__search.svg") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	&__input {
		margin: 0;
		width: 100%;
		z-index: 10;
		outline: none;
		height: 46px;
		color: #545454;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 11px 30px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		background: transparent;
		border: 1px solid #afafaf;
		@include placeholder(#737373);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus,
		&:active {
			outline: none;
			@include placeholder(transparent);
		}
	}

	&__current {
		color: #535353;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2rem;
		margin-bottom: 15px;

		span {
			color: $color-green;
		}
	}

	&__text {
		color: #868686;
		font-size: 1.6rem;
		line-height: 1.8rem;
		margin-bottom: 10px;
	}
}

.nav_mobile {
	top: 0;
	left: 0;
	width: 313px;
	height: 100vh;
	z-index: 1200;
	position: fixed;
	background: #fff;
	margin-left: -400px;
	@include box-shadow(0px 1px 18px 0px rgba(0, 0, 0, 0.35));
	@include transition(.3s);

	&__layout {
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: none;
		z-index: 1150;
		position: fixed;
		background: rgba(0,0,0,0.7);

		&.open {
			display: block;
		}
	}

	&.open {
		margin-left: 0;
		@include transition(.3s);
	}

	&__close {
		top: 10px;
		right: -40px;
		width: 24px;
		height: 24px;
		z-index: 100;
		display: block;
		cursor: pointer;
		position: absolute;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 100%;
			height: 3px;
			display: block;
			background: #fff;
			position: absolute;
			margin: -2px 0 0 -12px;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__scroll {
		height: 100vh;
		overflow-y: auto;
	}

	&__content {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {

				> a {
					overflow: hidden;
					text-decoration: none;
					text-overflow: ellipsis;
				}

				> ul {
					margin: 0;
					padding: 0;
					list-style: none;

					> li {

						> a {
							overflow: hidden;
							text-decoration: none;
							text-overflow: ellipsis;
						}
					}
				}
			}
		}

		.back {
			width: 100%;
			height: 50px;
			display: block;
			position: relative;
			padding: 18px 0 0 10px;

			&:before {

			}
		}
	}

	.slinky-theme-default {
		background: #fff;
	}

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

