.header {
	z-index: 800;
	display: none;
	background: #fff;
	position: relative;
	@include box-shadow(0px 0px 16px 0px rgba(0, 0, 0, 0.24));

	&.fix_top {
		top: -92px;
		left: 0;
		right: 0;
		position: fixed;
		@include box-shadow(none);
	}


	&__container {
		margin: 0 auto;
		padding-right: 15px;
		padding-left: 30px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__top {

	}

	&__bottom {
		height: 44px;
		background: #f2f5f7;
	}

	&__location {
		height: 48px;
		color: #36427a;
		font-size: 1.6rem;
		line-height: 2rem;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			width: 18px;
			height: 24px;
			margin-right: 12px;
			display: inline-block;
		}

		span {
			display: inline-block;
		}

		.ico-svg {
			fill: #000;
		}

		&:hover {
			color: $color-green;
			text-decoration: none;

			.ico-svg {
				fill: $color-green;
			}
		}
	}

	&__info {
		font-size: 0;
		line-height: 0;
		height: 48px;
		padding-top: 4px;
		text-align: right;
		padding-right: 60px;
		background: url("../img/icon__header_phone.svg") 100% 50% no-repeat;
	}

	&__phones {
		color: #545454;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2rem;

		span {
			margin-right: 5px;
		//	display: inline-block;
		}

		a {
			color: #545454;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 2rem;
			text-decoration: none;
		//	display: inline-block;

			&:hover {
				color: #545454;
				text-decoration: none;
			}
		}
	}

	&__worktime {
		color: #a1a1a1;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 2rem;
		padding-left: 18px;
		display: inline-block;
		background: url("../img/icon__header_worktime.svg") 0 50% no-repeat;
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include flex-grow(1);
		@include justify-content(space-between);

		li {

			a {
				color: #545454;
				padding: 12px 0;
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 2rem;
				text-decoration: none;
				display: inline-block;
				white-space: nowrap;

				&:hover {
					color: $color-green;
					text-decoration: none;
				}
			}
		}
	}

	&__menu {
		width: 235px;
		margin-right: 15px;
		margin-left: 30px;
		position: relative;
		@include flex-shrink(0);
	}

	&__account {
		color: #fff;
		width: 100%;
		height: 44px;
		z-index: 20;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2rem;
		position: relative;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		i {
			z-index: 5;
			width: 19px;
			height: 22px;
			position: relative;
			margin-right: 10px;
			display: inline-block;
		}

		.ico-svg {
			fill: #0a2360;
		}

		span {
			z-index: 5;
			display: inline-block;
		}

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 100%;
			height: 44px;
			display: block;
			position: absolute;
			background: $color-green;
			@include skew(30deg,0);
		}

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__links {
		left: 30px;
		right: -50px;
		top: 100%;
		z-index: 10;
		height: 60px;
		padding-left: 20px;
		position: absolute;

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 100%;
			height: 60px;
			display: block;
			position: absolute;
			background: #f5f5f4;
			@include skew(30deg,0);
			@include box-shadow(0px 0px 16px 0px rgba(0, 0, 0, 0.24));
		}

		&_wrap {
			z-index: 10;
			height: 60px;
			position: relative;
			@include flexbox();
			@include align-items(center);
		}

		&_cart {
			width: 42px;
			height: 44px;
			display: block;
			padding-top: 11px;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			color: $color-green;
			text-decoration: none;
			font-family: $font-family-second;
			background: url("../img/icon__header_cart.png") 50% 50% no-repeat;

			&:hover {
				color: $color-green;
				text-decoration: none;
			}
		}

		&_favorites {
			width: 36px;
			height: 44px;
			display: block;
			padding-top: 11px;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			color: $color-green;
			margin-right: 10px;
			text-decoration: none;
			font-family: $font-family-second;
			background: url("../img/icon__favorites.svg") 50% 50% no-repeat;

			&:hover {
				color: $color-green;
				text-decoration: none;
			}
		}

		&_bookmark {
			width: 34px;
			height: 44px;
			display: block;
			padding-top: 11px;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			color: $color-green;
			margin-right: 15px;
			padding-right: 5px;
			text-decoration: none;
			font-family: $font-family-second;
			background: url("../img/icon__bookmark.svg") 50% 100% no-repeat;

			&:hover {
				color: $color-green;
				text-decoration: none;
			}
		}

		&_compare {
			width: 39px;
			height: 44px;
			display: block;
			padding-top: 11px;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			margin-right: 15px;
			color: $color-green;
			text-decoration: none;
			font-family: $font-family-second;
			background: url("../img/icon__comparison.png") 50% 50% no-repeat;

			&:hover {
				color: $color-green;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		display: block;
	}

	@media (min-width: 1400px) {

		&__nav {
			@include justify-content(flex-start);

			li {
				margin-right: 60px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}


.header_mobile {

	&__container {
		height: 50px;
		padding: 0 15px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__left {
		@include flexbox();
		@include align-items(center);
	}

	&__right {
		@include flexbox();
		@include align-items(center);
	}

	&__logo {
		display: block;
		height: 50px;
		width: 140px;
	}

	&__toggle {
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		padding-top: 6px;
		display: inline-block;
		margin-right: 40px;

		span {
			width: 100%;
			height: 3px;
			background: #19255b;
			margin-bottom: 5px;
			position: relative;
			display: inline-block;
			@include transition(.3s);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__cart {
		width: 42px;
		height: 42px;
		display: block;
		padding-top: 11px;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		color: $color-green;
		text-decoration: none;
		font-family: $font-family-second;
		background: url("../img/icon__header_cart.png") 50% 50% no-repeat;

		&:hover {
			color: $color-green;
			text-decoration: none;
		}
	}

	&__phone {
		width: 42px;
		height: 42px;
		padding: 9px 0;
		display: block;
		font-size: 2.4rem;
		line-height: 2.4rem;
		text-align: center;
		color: #19255b;
		margin-right: 8px;
		text-decoration: none;
		font-family: $font-family-second;

		&:hover {
			color: #19255b;
			text-decoration: none;
		}

		span {
			display: none;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__toggle {
			margin-right: 165px;
		}

		&__phone {
			width: auto;
			padding: 9px 10px;
			font-size: 1.8rem;
			white-space: nowrap;

			i {
				display: none;
			}

			span {
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		display: none;
	}
}


