@import "variables";

// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";

@import "mixins/grid-mixins";
@import "mixins/visibility-mixins";


.promo {

	&:hover {

		.promo__button_prev,
		.promo__button_next {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}

	&__item {
		height: 480px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__button_next,
	&__button_prev {
		top: 50%;
		z-index: 20;
		font-size: 0;
		line-height: 0;
		width: 82px;
		height: 82px;
		outline: none;
		cursor: pointer;
		padding-top: 17px;
		text-align: center;
		margin-top: -41px;
		position: absolute;
		display: inline-block;
		background: rgba(181,183,193,0.43);
		@include border-radius(50%);
		@include transition(.3s);


		opacity: 0;
		visibility: hidden;

		i {
			width: 26px;
			height: 48px;
			display: inline-block;
		}

		.ico-svg {
			fill: #fff;
		}

		&:hover {
			fill: #25325f;
		}
	}

	&__button_next {
		right: 15px;
	}

	&__button_prev {
		left: 15px;
	}

	@media (min-width: $screen-sm-min) {

	}

}

.brand {
	padding-top: 20px;
	padding-bottom: 30px;

	&__item {
		margin: 0 auto;
		padding: 0 5px;
		max-width: 185px;

		img {
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: grayscale(100%);
			@include transition(.3s);
		}

		&:hover {

			img {
				-webkit-filter: none;
				-moz-filter: none;
				-ms-filter: none;
				-o-filter: none;
				filter: none;
				@include transition(.3s);
			}
		}
	}
}


.about {
	font-size: 1.8rem;
	line-height: 1;
	padding-top: 10px;
	padding-bottom: 10px;

	&__lead {
		color: #304476;
		font-size: 2.4rem;
		text-transform: uppercase;
	}

	p {
		margin: 0;
	}

	&__info {
		margin: 0;
		list-style: none;
		padding: 15px 0 10px 0;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);

		&_image {
			height: 80px;
			@include flexbox();
			@include align-items(flex-end);
			@include justify-content(center);

			i {
				display: inline-block;
			}
		}

		&_text {
			display: block;
			padding-top: 7px;
		}

		li {
			width: 50%;
			color: #767676;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 1.4rem;
			margin-bottom: 20px;
			text-align: center;
			text-transform: uppercase;
		}
	}

	&__row {

	}

	&__text {
		margin-bottom: 30px;

		&_wrap {
			overflow: hidden;
			position: relative;

			&:before {
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				height: 120px;
				position: absolute;
				@include gradient-vertical(rgba(255,255,255,0),rgba(255,255,255,1));
			}
		}
	}


	&__image {

	}

	@media (min-width: 567px) {

		&__info {

			li {
				width: 33.33%;
				@include transition(.3s);

				&:hover {
					@include transition(.3s);
					@include scale(1.15);
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__info {
			@include flex-wrap(nowrap);

			li {
				width: 20%;
			}
		}

		&__row {
			@include flexbox();
		}

		&__text {
			margin-bottom: 0;
			padding-right: 20px;
			@include flex-grow(1);

			&_wrap {
				height: 239px;
			}
		}

		&__image {
			width: 360px;
			padding-top: 10px;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-md-min) {

		&__text {

			&_wrap {
				height: 319px;
			}
		}

		&__image {
			width: 486px;
		}
	}
}

.bnr {
	text-align: center;
	overflow: hidden;
	position: relative;
	background: url("../img/bnr__bg.jpg") 50% repeat-x;

	&__image {
		top: 0;
		left: 40%;
		z-index: 1;
		width: 720px;
		opacity: 0.5;
		position: absolute;
	}

	.container {
		z-index: 10;
		position: relative;
	}

	&__row {
		height: 215px;
		@include flexbox();
		@include flex-direction(column);
	}

	&__col {
		margin: auto 0;
		display: block;
	}

	&__text {
		color: #223970;
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 3rem;
		padding: 15px 10px;
		text-align: center;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		background: rgba(255,255,255,0.65);

		span {
			z-index: 10;
			position: relative;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {
		text-align: left;

		&__image {
			opacity: 1;
		}

		&__text {
			font-size: 24px;
			line-height: 30px;
			padding: 30px 10px 30px 0;
			background: transparent;

			&:before {
				top: 0;
				bottom: 0;
				content: '';
				right: -20px;
				left: -2000px;
				position: absolute;
				display: inline-block;
				background: rgba(255,255,255,0.65);
				@include skew(30deg,0);
			}
		}
	}


	@media (min-width: $screen-md-min) {

		&__image {
			left: auto;
			right: 0;
		}

		&__text {
			font-size: 32px;
			line-height: 40px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__text {
			font-size: 40px;
			line-height: 50px;
			padding: 22px 10px;
		}
	}

	@media (min-width: $screen-xl-min) {


		&__text {
			font-size: 40px;
			line-height: 50px;
			padding: 22px 10px 22px 0;
		}
	}
}

.videos {
	padding-top: 25px;
	padding-bottom: 15px;

	&__wrap {
		margin: 0 -15px;
	}

	&__row {
		margin: -5px;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__col {
		width: 100%;
		padding: 5px;
	}

	&__thumb {
		width: 50%;
		padding: 5px;
		display: block;
	}

	&__item {
		color: #e3e6ed;
		display: block;
		font-size: 1.4rem;
		line-height: 1.6rem;
		position: relative;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: none;
		}

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			background: rgba(0,0,0,0.46);
		}

		&:after {
			top: 50%;
			left: 50%;
			z-index: 10;
			content: '';
			width: 44px;
			height: 32px;
			display: block;
			position: absolute;
			margin: -16px 0 0 -22px;
			background: url("../img/icon__play_youtube.png") 50% 50% no-repeat;
			background-size: cover;
		}

		span {
			top: 10px;
			left: 10px;
			z-index: 20;
			display: block;
			max-width: 200px;
			position: absolute;
		}
	}


	@media (min-width: $screen-sm-min) {


		&__col {
			width: 50%;
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			margin-left: -30px;
			margin-right: -15px;
		}

		&__item {
			font-size: 1.8rem;
			line-height: 2rem;

			&:after {
				width: 74px;
				height: 53px;
				margin: -26px 0 0 -37px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.comments {
	padding-top: 15px;
	padding-bottom: 15px;

	&__item {
		color: #999999;
		font-size: 1.4rem;
		line-height: 1.6rem;
		position: relative;
	}

	&__wrap {
		top: 0px;
		left: 10px;
		right: 10px;
		bottom: 0px;
		overflow: hidden;
		position: absolute;

		&_first {
			padding-left: 5px;
		}
	}

	&__date {
		color: $color-green;
		font-size: 1.5rem;
		line-height: 1.6rem;
		margin-bottom: 5px;
	}

	&__name {
		color: #666666;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2rem;
	}

	@media (min-width: $screen-md-min) {

		&__wrap {

			&_first {
				padding-left: 20px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__item {
			font-size: 1.8rem;
			line-height: 1.8rem;
		}

		&__date {
			font-size: 1.5rem;
			line-height: 1.6rem;
			margin-bottom: 5px;
		}

		&__name {
			color: #666666;
			font-weight: 500;
			font-size: 2.2rem;
			line-height: 2.4rem;
		}
	}
}