@import "variables";

// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";

@import "mixins/grid-mixins";
@import "mixins/visibility-mixins";

.product {

	&__row {
		margin-bottom: 20px;
	}

	&__media {
		position: relative;
		margin-bottom: 17px;

		&_gallery {
			margin: 0 auto;
			max-width: 400px;

			.swiper-pagination {
				top: auto;
				bottom: 0;
			}

			.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
				background: #3bcaac;
			}
		}

		&_image {
			display: block;
			margin: 0 auto 45px auto;
		}

		&_thumbs {
			top: 80px;
			left: 0;
			opacity: 0;
			visibility: hidden;
			position: absolute;

			.swiper-slide {
		//		height: 125px !important;
			}
		}

		&_container {
			width: 125px;
			padding: 30px 0;
			position: relative;
		}

		&_thumb {
			display: block;
			padding: 5px 20px;
			position: relative;
			border: 1px solid #cccfdb;

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
				content: '';
				display: block;
				position: absolute;
				border: 2px solid #15ac8d;
				@include transition(.3s);

				opacity: 0;
				visibility: hidden;
			}

			&.active {

				&:before {
					opacity: 1;
					visibility: visible;
					@include transition(.3s);
				}

			}
		}
	}

	&__info {
		margin: 0 -15px;
		background: #edf3ff;
		position: relative;

		&:before {
			top: 0;
			bottom: 0;
			left: 100%;
			content: '';
			width: 3000px;
			display: block;
			position: absolute;
			background: #edf3ff;
		}

		&_heading {
			padding: 15px 25px 12px 25px;
			@include flexbox();
			@include align-items(center);
		}

		&_favorite {
			width: 26px;
			//height: 24px;
			display: inline-block;
			margin-right: 12px;
		}

		&_comparison {
			width: 29px;
			height: 28px;
			margin-right: 50px;
			display: inline-block;

		}

		&_logo {
			display: inline-block;
		}
	}

	&__cost {
		position: relative;
		padding: 25px 5px 25px 100px;
		border-top: 1px solid #d9e0ec;

		&:before {
			top: -1px;
			bottom: 0;
			left: 100%;
			height: 1px;
			content: '';
			width: 3000px;
			display: block;
			position: absolute;
			background: #d9e0ec;
		}

		.btn {
			min-width: 180px;
			margin-left: 35px;
		}
	}

	&__price {
		margin: 0 0 15px 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		&_old {
			color: #afafaf;
			font-size: 1.8rem;
			line-height: 2rem;
			white-space: nowrap;
			text-decoration: line-through;
		}

		&_new {
			padding: 0 7px;
			color: #6d6d6d;
			font-size: 4rem;
			line-height: 4rem;
			display: inline-block;
			white-space: nowrap;
		}

		&_discount {
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 2rem;
			white-space: nowrap;
			color: $color-green;
			padding: 3px 0 3px 25px;
			background: url("../img/icon__discount.svg") 0 50% no-repeat;
		}
	}

	&__meta {
		left: 0;
		top: 25px;
		position: absolute;

		&_item {
			width: 90px;
			height: 34px;
			color: #fff;
			padding: 7px 5px;
			font-size: 1.8rem;
			line-height: 2rem;
			position: relative;
			text-transform: uppercase;
		}

		&_blue {
			background: url("../img/goods__sticky_blue.svg") 100% 50% no-repeat;
		}

		&_green {
			background: url("../img/goods__sticky_green.svg") 100% 50% no-repeat;
		}

		&_yellow {
			background: url("../img/goods__sticky_yellow.svg") 100% 50% no-repeat;
		}
	}

	&__availability {
		padding:  25px;
		color: #242424;
		font-size: 1.6rem;
		line-height: 1.85rem;
		position: relative;
		border-top: 1px solid #d9e0ec;

		&:before {
			top: -1px;
			bottom: 0;
			left: 100%;
			height: 1px;
			content: '';
			width: 3000px;
			display: block;
			position: absolute;
			background: #d9e0ec;
		}

		&_title {
			color: #5e5d5d;
			margin-bottom: 10px;

			strong {
				color: #000;
			}
		}

		&_point {
			list-style: none;
			margin: 0 0 10px 0;
			padding: 0 0 0 20px;

			li {
			}
		}

		a {
			color: #283671;
			text-decoration: none;

			&:hover {
				color: #283671;
				text-decoration: underline;


				.not_available {
					color: #8f8f8f;
				}
			}
		}
	}

	&__delivery {
		padding: 25px;
		font-size: 1.6rem;
		line-height: 1.8rem;
		position: relative;
		border-top: 1px solid #d9e0ec;

		&:before {
			top: -1px;
			bottom: 0;
			left: 100%;
			height: 1px;
			content: '';
			width: 3000px;
			display: block;
			position: absolute;
			background: #d9e0ec;
		}

		&_calculation {
			color: #2fba9d;
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 5px;
			white-space: nowrap;
			text-decoration: none;
			display: inline-block;
			padding: 4px 0 4px 25px;
			background: url("../img/icon__calc.png") 0 50% no-repeat;

			&:hover {
				color: #2fba9d;
				text-decoration: none;

				span {
					text-decoration: underline;
				}
			}
		}

		&_list {
			margin: 0;
			padding: 0;
			color: #959494;
			list-style: none;

			li {

				&:first-child {
					margin-bottom: 5px;
				}

				a {
					color: #2e396b;
					text-decoration: none;
				}
			}
		}
	}

	&__bottom {
		padding: 25px;
		position: relative;
		border-top: 1px solid #d9e0ec;

		&:before {
			top: -1px;
			bottom: 0;
			left: 100%;
			height: 1px;
			content: '';
			width: 3000px;
			display: block;
			position: absolute;
			background: #d9e0ec;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
			@include align-items(flex-start);
	//		@include justify-content(space-between);
		}

		&__media {
			width: 350px;
			margin: 0 90px 0 0;
		}

		&__info {
			margin: 0;
			width: 390px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__media {
			margin: 0;
			width: 745px;
			padding-top: 80px;
			padding-left: 160px;

			&_gallery {
				width: 312px;
				margin: 0 auto;
				padding-top: 30px;

				.swiper-pagination {
					display: none;
				}
			}

			&_thumbs {
				opacity: 1;
				visibility: visible;
			}
		}

	}
}

.gallery_thumb {
	height: 385px;
}

.thumb_arrow_prev,
.thumb_arrow_next {
	left: 50%;
	z-index: 10;
	width: 29px;
	height: 16px;
	content: '';
	cursor: pointer;
	cursor: pointer;
	margin-left: -15px;
	position: absolute;
	display: inline-block;
	background: url("../img/icon__arrov_top.svg") 50% 50% no-repeat;
	background-size: cover;
}

.thumb_arrow_prev {
	top: 0;
}

.thumb_arrow_next {
	bottom: 0;
	@include rotate(180deg);
}


.swiper-slide-active {

	.product__media_thumb {

	}
}

.product_tabs {
	margin-bottom: 25px;

	&__nav {
		display: none;
	}

	@media (min-width: $screen-md-min) {

		&__nav {
			margin: 0;
			padding: 0;
			list-style: none;
			@include flexbox();

			li {
				position: relative;

				a {
					height: 56px;
					color: #3a3a3a;
					background: #e0e5eb;
					text-decoration: none;
					position: relative;
					text-transform: uppercase;
					padding: 10px 40px 10px 55px;
					@include flexbox();
					@include align-items(center);

					&:before {
						bottom: 0;
						content: '';
						right: -20px;
						height: 0;
						width: 10px;
						position: absolute;
						border-bottom: 56px solid #e0e5eb;
						border-left: 20px solid transparent;
						border-right: 20px solid transparent;
					}

					span {
						margin-left: 10px;
						display: inline-block;
					}

					.ico-svg {
						fill: #3a3a3a;
					}

					&:hover {
						color: $color-green;

						.ico-svg {
							fill: $color-green;
						}
					}
				}

				&.active {

					a {
						z-index: 10;
						background: #f3f4f6;
						color: $color-green;

						&:after {
							left: 0;
							top: -12px;
							right: 5px;
							content: '';
							z-index: 10;
							height: 12px;
							display: block;
							position: absolute;
							background: #f3f4f6;
						}

						&:before {
							right: -16px;
							border-bottom: 68px solid #f3f4f6;
						}

						.ico-svg {
							fill: $color-green;
						}
					}
				}

				&:first-child {

					&:before {
						top: 0;
						bottom: 0;
						z-index: 1;
						content: '';
						width: 200px;
						margin-left: -200px;
						display: block;
						position: absolute;
						background: #e0e5eb;
					}

					&.active {

						&:before {
							top: -12px;
							background: #f3f4f6;
						}
					}
				}
			}
		}

		&__content {
			position: relative;
			background: #f3f4f6;
			padding-bottom: 20px;

			&:after,
			&:before {
				top: 0;
				bottom: 0;
				z-index: 1;
				content: '';
				display: block;
				position: absolute;
				background: #f3f4f6;
			}

			&:after {
				width: 200px;
				left: -200px;
			}

			&:before {
				width: 2000px;
				left: 100%;
			}
		}

		&__item {
			display: none;

			&.active {
				display: block;
			}
		}
	}
}


.product_data {
	margin-bottom: 7px;

	&__heading {
		height: 56px;
		color: #22386f;
		cursor: pointer;
		padding: 5px 20px;
		background: #f3f4f6;
		font-size: 1.6rem;
		line-height: 2rem;
		text-transform: uppercase;
		border: 1px solid #22386f;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		.ico-svg {
			fill: #22386f;
		}

		i {
			font-size: 2rem;
			line-height: 2rem;
			@include transition(.3s);
		}
	}

	&__content {
		padding-top: 10px;
		display: none;
	}

	&__params {
		margin-bottom: 10px;
	}

	&__hide {
		height: 200px;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;

		&:before {
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			content: '';
			height: 70px;
			position: absolute;
			@include gradient-vertical(rgba(255,255,255,0.4),rgba(255,255,255,0.8));
		}

		&.open {
			height: auto;

			&:before {
				display: none;
			}
		}
	}

	&__toggle {
		color: #3bcaac;
		font-size: 1.6rem;
		line-height: 2.2rem;
		display: inline-block;
		text-decoration: none;

		.close_flag {
			display: none;
		}

		&.open {

			.open_flag {
				display: none;
			}

			.close_flag {
				display: inline;
			}

			i {
				@include rotate(180deg);
			}
		}

		i {
			color: #a9a9a9;
			font-size: 2rem;
			margin-left: 8px;
			position: relative;
		}
	}

	&.active {

		.product_data__heading {
			color: $color-green;
			border-color: $color-green;

			.ico-svg {
				fill: $color-green;
			}

			i {
				@include rotate(180deg);
				@include transition(.3s);
			}
		}

		.product_data__content {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			display: none;
		}

		&__content {
			display: block;
		}

		&__row {
			@include flexbox();
		}

		&__params {
			padding-top: 20px;
			padding-right: 10px;
			@include flex-grow(1);
		}

		&__hide {
			height: 180px;

			&:before {
				@include gradient-vertical(rgba(243,244,246,0.4),rgba(243,244,246,0.8));
			}
		}

		&__video {
			width: 430px;
			@include flex-shrink(0);
		}
	}
}

.params_table {
	width: 100%;
	font-size: 1.6rem;
	line-height: 1.6rem;
	border-collapse: collapse;

	td {
		padding: 3px 0 0 0;
		border: none;
		border-bottom: 1px dotted #727272;

		&:first-child {
			color: #727272;
		}

		&:last-child {
			color: #494949;
			text-align: right;
		}

		span {
			bottom: -1px;
			background: #fff;
			position: relative;
			display: inline-block;
		}
	}
}

.icon_cod {
	width: 19px;
	height: 19px;
	display: inline-block;
}

.icon_doc {
	width: 16px;
	height: 21px;
	display: inline-block;
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}
