
.breadcrumb {
	padding: 0;
	list-style: none;
	line-height: 2rem;
	font-size: 1.4rem;
	margin: 0 0 20px 0;

	> li {
		color: #696969;

		display: inline-block;

		&:after {
			content: '>';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #696969;
			text-decoration: none;

			&:hover {
				color: #696969;
				text-decoration: underline;
			}
		}
	}
}