
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3rem;
	padding: 8px 18px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #3bcaac;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;

	&:hover {
		color: #fff;
		background: #223970;
	}

	&:active {
		background: #3bcaac;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_border_green {
	color: #2e396b;
	font-size: 1.8rem;
	padding: 7px 18px;
	background: transparent;
	border: 1px solid #15ac8d;

	&:hover {
		color: #fff;
		background: #15ac8d;
	}
}